.light {
  --theme-color: #f5831f;
  --theme-page-background: #f5f5f5;
  --theme-page-text: #003049;
  //   --theme-modal-bg: #003049;
}

// .dark {
//     --theme-color: #0000A8;
//     --theme-page-background: #111;
//     --theme-page-text: #FFF;
// }
